@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.accordion {
  font: 400 11pt/1.5 Inter, Helvetica, sans-serif;

  .accordion-flush {
    min-width: 380px;
    overflow-y: scroll;
    max-height: 65vh;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .accordion-body {
    min-width: 380px;
    overflow-y: scroll;
    max-height: 65vh;
    flex: auto;
    padding: 12px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: #ece6df;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .accordion-button {
    position: relative;
    margin-top: 2px;
    padding: 8px 18px;
    font-size: 1.1em;
    font-weight: 500;
    background-color: #938c83;
    border-radius: 1em;
    cursor: pointer;
    color: #fff;

    &:not(.collapsed).selected {
      &:hover {
        background-color: rgb(2 59 124 / 15%);
      }

      &.selected {
        background-color: #635c53;
        color: white;
      }

      &::after {
        background-image: url("./../assets/images/arrow.png");
        transform: rotate(-180deg);
        position: relative;
        top: -4px;
      }
    }

    &::after {
      background-image: url("./../assets/images/arrow.png");
      position: relative;
      top: 4px;
    }
  }

  .flex-1 {
    flex: 1;
  }
}
