@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import '../../node_modules/leaflet/dist/leaflet.css';
/*                         GENERAL STYLING
***********************************************************************/
h1 {
  margin-bottom: 0.33em;
  font: 500 2em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}
h2 {
  margin-bottom: 0.33em;
  font: 500 1.8em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}
h3 {
  margin-bottom: 0.33em;
  font: 500 1.6em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}
h4 {
  margin-bottom: 0.33em;
  font: 500 1.4em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}
h5 {
  margin-bottom: 0.33em;
  font: 500 1.2em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}
h6 {
  margin-bottom: 0.25em;
  font: 500 1.05em/1.2 Inter, Helvetica, sans-serif;
  color: #232323;
}
p {
  margin-bottom: 1.2em;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #9c132c;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
a:hover {
  color: #d60929;
}
img {
  max-width: 100%;
  height: auto;
}

/********* Search Results *********/
#search-results-list {
  display: flex;
  flex-wrap: wrap;
  width: 102.6%;
  margin: 0 -1.3%;
  padding: 1em 0 1.4em;
}
.sr-ad-block {
  display: block;
  width: 97.4%;
  margin: 0 1.3% 1.2em;
  font-size: 0.9em;
}
.sr-ad-link {
  display: block;
  font-weight: 400;
  color: #232323;
}
.sr-ad-thumb-block {
  position: relative;
  margin-bottom: 0.4em;
}
.sr-ad-thumb {
  max-height: 350px;
  display: block;
  border-radius: 0.5em;
  object-fit: cover;
}
.sr-ad-info {
  position: absolute;
  bottom: 0.3em;
  left: 0.3em;
  margin: 0;
  padding: 0.4em 0.6em;
  white-space: nowrap;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 0.4em;
}
.sr-ad-type {
  display: block;
  margin-bottom: 0.1em;
  white-space: nowrap;
  font-weight: 500;
}
.sr-ad-price {
  font-weight: 700;
}
.sr-ad-rooms,
.sr-ad-address {
  margin-bottom: 0.1em;
  padding-left: 0.75em;
  white-space: nowrap;
}

/*                           MEDIA QUERIES
***********************************************************************/

/*                               600px
--------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  .sr-ad-block {
    width: 47.4%;
  }
}

/*                               900px
--------------------------------------------------------------------- */
@media screen and (min-width: 900px) {
  .sr-ad-link {
    opacity: 0.9;
  }
  .sr-ad-link:hover {
    opacity: 1;
  }
}

/*                              1200px
--------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.9em;
  }
  h4 {
    font-size: 1.55em;
  }
  h5 {
    font-size: 1.33em;
  }
  h6 {
    font-size: 1.05em;
  }
  .sr-ad-block {
    width: 30.73%;
  }
}

/*                              1536px
--------------------------------------------------------------------- */
@media screen and (min-width: 1536px) {
  .sr-ad-block {
    width: 22.4%;
  }
}
