<div [formGroup]="form">
  <div [ngSwitch]="formField.type">
    <input
      *mpSwitchCases="[1, 12]"
      [formControlName]="formField.key"
      [id]="formField.key"
      type="text"
      class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full"
      placeholder="{{ formField.label }}"
    />
    <input
      *mpSwitchCases="[2, 4, 8, 9]"
      [formControlName]="formField.key"
      [id]="formField.key"
      type="text"
      class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full"
      placeholder="{{ formField.label }}"
    />
    <textarea
      *ngSwitchCase="3"
      [formControlName]="formField.key"
      [id]="formField.key"
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
      placeholder="--"
    ></textarea>
    <select
      [id]="formField.key"
      *mpSwitchCases="[5, 6]"
      [multiple]="formField.type === 6"
      [formControlName]="formField.key"
      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    >
      <option value="-1">{{ 'searchForm.select' | translate }}</option>
      <option
        *ngFor="let opt of formField.options"
        [value]="opt.fieldTypeChooseId"
      >
        {{ opt.description }}
      </option>
    </select>
    <select
      [id]="formField.key"
      *mpSwitchCases="[13]"
      [formControlName]="formField.key"
      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    >
      <option value="-1">-</option>
      <option
        *ngFor="let opt of selectCounterValues"
        [value]="opt"
      >
        {{ opt.description }}
      </option>
    </select>
    <input
      *ngSwitchCase="7"
      [formControlName]="formField.key"
      [id]="formField.key"
      type="checkbox"
    />
    <input
      class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full"
      placeholder="{{ formField.label }}"
      *ngSwitchCase="11"
      [formControlName]="formField.key"
      [id]="formField.key"
      type="date"
    />
  </div>
  <div class="errorMessage" *ngIf="!isValid">
    {{ errorMessages.error[appLanguage] }}
  </div>
</div>
