.card-container {
  height: 100%;
  vertical-align: middle;

  .card {
    height: 50%;
    position: relative;
    top: 22.5%;
    margin: 0 auto;
    width: 70%;
    background-color: white;
    box-shadow: 2px 4px 14px 2px rgb(169 169 169 / 91%);
    padding: 8px;

    ul {
      list-style-image: url("../../../assets/images/bulletPoint.png");

      li {
        margin-bottom: 8px;
        font-size: 1.3em;
        cursor: pointer;
        transition: 0.5s;
        width: fit-content;
        padding: 0 8px;

        &:hover {
          background-color: whitesmoke;
        }

        &.selected {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}
