@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/*                              RESET
***********************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
}

img,
iframe {
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*                         GENERAL STYLING
***********************************************************************/
html {
  height: 100%;
  text-size-adjust: none;
}

body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font: 400 11pt/1.5 Inter, Helvetica, sans-serif;
  color: #464646;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 0.33em;
  font: 500 2em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}

h2 {
  margin-bottom: 0.33em;
  font: 500 1.8em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}

h3 {
  margin-bottom: 0.33em;
  font: 500 1.6em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}

h4 {
  margin-bottom: 0.33em;
  font: 500 1.4em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}

h5 {
  margin-bottom: 0.33em;
  font: 500 1.2em/1.2 Inter, Helvetica, sans-serif;
  text-align: center;
  color: #232323;
}

h6 {
  margin-bottom: 0.25em;
  font: 500 1.05em/1.2 Inter, Helvetica, sans-serif;
  color: #232323;
}

p {
  margin-bottom: 1.2em;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #9c132c;
  transition: all 0.3s ease-in 0s;
}

a:hover {
  color: #d60929;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
input[type="tel"],
select,
textarea {
  box-sizing: border-box;
  padding: 0.25em 0.8em 0.2em;
  font: 400 1em/1.4 Inter, Helvetica, sans-serif;
  color: #5c5c5c;
  border: 1px solid transparent;
  border-radius: 1.1em;
  background-color: #f6f6f6;
  box-shadow: 0 1px 0 0 #fff;
  appearance: none;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  outline: none;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 4px 40px #f6f6f6 inset, 0 1px 0 0 #fff !important;
  background-clip: text;
  border: 1px solid #f6f6f6;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #5c5c5c !important;
} */

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: 1.33em;
  height: 1.33em;
  margin: -2px 5px 2px 0;
  vertical-align: middle;
}

::selection {
  background-color: #938c83;
  color: #fff;
}

/* ::-moz-selection {
  background-color: #938c83;
  color: #fff;
} */

/* .container {
  display: grid;
  grid-template-columns: 1fr min(80%, 80rem) 1fr;
} */

mp-navbar {
  display: grid;
  grid-template-columns: 1fr min(80%, 80rem) 1fr;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #ebeaea;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcccc;
  border-radius: 6px;
  border: 3px solid #c2c2c2;
}

/*                             STRUCTURE
***********************************************************************/
#container-wrapper {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#header {
  background-color: #fff;
}

#content-wrapper {
  padding: 0 0 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #938c83;
}

.container-fluid {
  width: auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.branding-block {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.intro-block {
  padding: 20px 0;
}

.intro-block h1 {
  width: 90%;
  margin: 0 auto;
}

.content-block {
  padding: 15px;
}

.text-block {
  max-width: 840px;
  margin: 0 auto;
}

/*                  Utility Styles
****************************************************/
.block {
  display: block;
}

.no-display {
  display: none;
}

.flex {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.white {
  background-color: #fff;
}

.matte-white {
  background-color: #f6f6f6;
}

.black {
  background-color: #232323;
}

.grey {
  background-color: #868686;
}

.light-grey {
  background-color: #b0b0b0;
}

.akros-beige {
  background-color: #c3bcb3;
}

.light-beige {
  background-color: #ece6df;
}

.akros-red {
  background-color: #d60929;
}

.dark-red {
  background-color: #9c132c;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #232323;
}

.space-after-1 {
  margin-bottom: 1em;
}

.space-after-2 {
  margin-bottom: 2em;
}

.space-after-3 {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  padding: 6px 24px;
  vertical-align: middle;
  text-align: center;
  color: #e9d3d6;
  color: rgb(255 255 255 / 80%);
  background-color: #9c132c;
  border-radius: 1.2em;
}

.btn:hover {
  color: #fff;
  background-color: #d60929;
}

.icon-btn {
  display: inline-block;
  width: 18px;
  height: auto;
  margin: -2px 6px 2px;
  vertical-align: middle;
  fill: #e9d3d6;
  fill: rgb(255 255 255 / 80%);
  transition: fill 0.3s ease-in 0s;
}

.btn:hover .icon-btn {
  fill: #fff;
}

.big-btn {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  padding: 8px 24px;
  font-size: 1.1em;
  text-transform: uppercase;
}

.submit-btn {
  display: block;
  flex: auto;
  margin: 0.6em auto 0;
  font-size: 11.5pt;
  cursor: pointer;
}

.cleaner,
.container::after,
.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}

/*                           MEDIA QUERIES
***********************************************************************/

/*                               600px
--------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  .intro-block,
  .content-block {
    padding: 20px;
  }

  .intro-block h1 {
    width: auto;
  }

  #logo {
    margin: 11px 0;
    width: 140px;
    height: 48px;
  }

  .btn-signin-wrap {
    margin-left: 60px;
  }

  .signin-label {
    display: inline;
  }

  .header-menu {
    top: 38px;
  }
}

/*                               900px
--------------------------------------------------------------------- */
@media screen and (min-width: 900px) {
  .intro-block,
  .content-block {
    padding: 30px;
  }
}

/*                              1200px
--------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  body {
    font-size: 12pt;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.9em;
  }

  h4 {
    font-size: 1.55em;
  }

  h5 {
    font-size: 1.33em;
  }

  h6 {
    font-size: 1.05em;
  }

  .container {
    width: 94%;
  }

  .branding-block {
    padding: 0;
  }

  .intro-block,
  .content-block {
    padding: 40px;
  }

  #logo {
    margin: 15px 0;
    width: 175px;
    height: 60px;
  }

  .header-menu {
    top: 42px;
  }

  .header-menu a {
    font-size: 0.9em;
  }

  #accordion-block {
    margin: 30px auto 20px;
  }
}

/*                              1536px
--------------------------------------------------------------------- */
