body {
  margin: 0;
  font-family: sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #cfcccc #ebeaea;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(80%, 80rem) 1fr;
}

mp-navbar {
  display: grid;
  grid-template-columns: 1fr min(80%, 80rem) 1fr;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: #ebeaea;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcccc;
  border-radius: 6px;
  border: 3px solid #c2c2c2;
}
