@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.accordion-flush {
  max-width: 420px;
  margin: 0 auto;
}

button {
  &:hover {
    background-color: rgb(2 59 124 / 15%);
  }

  &.selected {
    background-color: #5757ec;
    color: white;
  }
}

.flex-1 {
  flex: 1;
}
