@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// TODO DEL

ul {
  li {
    cursor: pointer;
    transition: 0.5s;
    padding: 16px 12px;

    &:hover {
      background-color: rgb(0 78 167 / 15%);
    }

    &.selected {
      background-color: #8989f8;
      color: white;
    }
  }
}
