input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999;
}

input[type="date"] {
  color: #fff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

option:first-child {
  color: #ccc;
}

input,
select {
  background-color: #f6f6f6;
  border-radius: 1.5rem;
}

.error {
  border-color: #d60929;
  color: red;
}

textarea:focus, input:focus{
  outline: none;
}
