<div [formGroup]="form">
  <div [ngSwitch]="formField.type">
    <!-- Textfields -->
    <input
      *mpSwitchCases="[1, 2, 3]"
      [formControlName]="formField.key"
      [id]="formField.key"
      type="text"
      [ngClass]="{error: !form.controls[formField.key].valid}"
      class="w-full"
      placeholder="{{
        'searchForm.categories.' + currentCategoryKey + '.' + formField.key
          | translate
      }}"
    />
    <!-- Type -->
    <!-- [multiple]="formField.type === 6" -->
    <select
      [id]="formField.key"
      *mpSwitchCases="[5, 6, 7]"
      [formControlName]="formField.key"
      class="block w-full cursor-pointer"
      [ngClass]="{unselected: !form.controls[formField.key].value}"
    >
      <option value="null" disabled>
        {{
          'searchForm.categories.' + currentCategoryKey + '.type' | translate
        }}
      </option>
      <option
        *ngFor="let opt of formField.options"
        [value]="opt.field_option_id"
        class="options"
      >
        {{ opt.key }}
      </option>
    </select>
    <!-- Amount of rooms -->
    <select
      [id]="formField.key"
      *mpSwitchCases="[14, 15]"
      [formControlName]="formField.key"
      class="block w-full cursor-pointer"
      [ngClass]="{unselected: !form.controls[formField.key].value}"
    >
      <option value="null">
        {{
          'searchForm.categories.' + currentCategoryKey + '.' + formField.key
            | translate
        }}
      </option>
      <option
        *ngFor="let opt of selectCounterValues"
        [value]="opt"
        class="options"
      >
        {{ opt }}
      </option>
    </select>
    <!-- Dates -->
    <input
      type="text"
      *mpSwitchCases="[12, 13]"
      mpDateClick
      [formControlName]="formField.key"
      [id]="formField.key"
      [ngClass]="{error: !form.controls[formField.key].valid}"
      class="cursor-pointer w-full"
      placeholder="{{
        'searchForm.categories.' + currentCategoryKey + '.' + formField.key
          | translate
      }}"
    />
  </div>
</div>
