.form {
  input {
    box-sizing: border-box;
    color: #5c5c5c;
    border: 1px solid transparent;
    border-radius: 1.1em;
    background-color: #f6f6f6;
    box-shadow: 0 1px 0 0 #fff;

    &:checked {
      background-color: #0d6efd;
      background-image: unset;
      border-color: #fff;
      border-width: 3px;
    }
  }

  .form-field {
    width: 48%;
    display: inline-block;

    &:nth-child(even) {
      float: right;
    }
  }

  .btn {
    display: block;
    max-width: 360px;
    margin: 0 auto;
    padding: 8px 24px;
    font-size: 1.1em;
    text-transform: uppercase;
    transition: 0.3s;
    &.big {
      padding: 6px 24px;
      vertical-align: middle;
      text-align: center;
      color: #e9d3d6;
      background-color: #9c132c;
      border-radius: 1.2em;
      cursor: pointer;
      &.mt-2 {
        margin-top: 20px;
      }
      &.error {
        background-color: #868686;
        color: #fff;
      }
      &:hover {
        background-color: #d60929;
        color: #fff;
      }
    }
    .icon-btn {
      display: inline-block;
      width: 18px;
      height: auto;
      margin: -2px 6px 2px;
      vertical-align: middle;
      fill: #e9d3d6;
      transition: fill 0.3s ease-in 0s;
      &.error {
        fill: #fff;
      }
    }
  }
  .error-message {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 10px;
  }
}
