#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #938c83;
}

.copyright {
  margin: 0;
  padding: 1.8em 0 1em;
  font-size: 0.85em;
  color: #dcdcdc;
}

.copyright a {
  color: #dcdcdc;
}

.copyright a:hover {
  color: #fff;
}
