@import "./../../../../assets/styles/colors";

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: $white;
  background-color: $greige;
}

.copyright {
  margin: 0;
  padding: 1.8em 0 1em;
  font-size: 0.85em;
  color: $silver;
  color: rgba(255 255 255 / 75%);
}

.copyright a {
  color: $silver;
  color: rgba(255 255 255 / 75%);
}

.copyright a:hover {
  color: $white;
}
