<swiper
  [pagination]="{
      clickable: true
    }"
  [navigation]="true"
  class="mySwiper">
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
  <ng-template swiperSlide><img src="../../../assets/images/placeholder-ad-image.jpg"/></ng-template>
</swiper>
