header {
  padding: 6px 0;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
  display: inline;
  cursor: pointer;
}

.user-icon {
  width: 50px;
  display: inline;
  cursor: pointer;
}

.settings-container {
  display: inline-flex;

  .language-container {
    margin-right: 8px;

    .language-icon {
      cursor: pointer;
      margin: 0 2px;
      max-width: 20px;
      position: relative;
      top: 28px;
    }
  }
}
