$dark-red: #9c132c;
$brand-red: #d60929;
$red: #ff0029;
$taupe: #635c53;
$greige: #938c83;
$akros-beige: #c3bcb3;
$sandy: #ece6df;
$black: #232323;
$dark-grey: #464646;
$graphite: #5c5c5c;
$grey: #868686;
$silver: #b0b0b0;
$light-grey: #f0f0f0;
$matte-white: #f6f6f6;
$white: #fff;
