/*                      Intro
****************************************************/
#intro {
  background: #938c83 url(./../../../assets/images/akros-bg.jpg) no-repeat center / cover fixed;
}
#accordion-block {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 360px;
  height: 500px;
  margin: 20px auto;
}
.accordion-btn {
  position: relative;
  margin-top: 2px;
  padding: 8px 18px;
  font-size: 1.1em;
  font-weight: 500;
  color: #f4efe9;
  color: rgba(255, 255, 255, .8);
  background-color: #938c83;
  border-radius: 1em;
  cursor: pointer;
  z-index: 1;
}
.accordion-btn:hover, 
.accordion-btn.active {
  color: #fff;
  background-color: #635c53;
}
.accordion-btn.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-arrow {
  position: absolute;
  top: 13px;
  right: 16px;
  display: block;
  width: 9px;
  height: 16px;
  fill: #f4efe9;
  fill: rgba(255, 255, 255, .8);
  -moz-transition: all .3s ease-in 0s;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}
.active .btn-arrow {
  fill: #fff;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion-form-wrap {
  display: none;
  flex: auto;
  padding: 12px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #ece6df;
}
.accordion-btn.active + .accordion-form-wrap {
  display: block;
}
#intro .simple-field {
  font-size: 10pt;
}
.accordion-form p {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
}
.simple-field.half {
  width: 48%;
  width: calc(50% - 6px);
}
.simple-field.full-width {
  width: 100%;
}

/*                      Content
****************************************************/
.post-btn-block {
  margin: 2.5em auto;
}
