.search-component-wrapper {
  background-image: url("./../../../assets/images/akros-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7vh 0;

  h1 {
    text-align: center;
    color: white;
  }
}

.main {
  grid-column: 2;
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  * {
    width: 70%;
  }

  h1 {
    text-align: center;
  }

  button {
    width: 10%;
    margin: 0 auto;
  }
}

.accordion-block {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 360px;
  height: 500px;
  margin: 20px auto;
}
