<div class="hero-image">
  <search-component></search-component>
</div>
<section class="container">
  <div class="other">
    <h1 class="header">Post Relevant Information</h1>
    <button>CREATE AN AD</button>
    <h1 class="header">About Akros Marketplace</h1>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
      euismod ante ut tincidunt. Donec ex leo, volutpat nec lorem at, commodo
      interdum neque. Quisque vel vestibulum nisl, vitae ultrices augue. Nunc
      quam erat, tincidunt vel aliquam sit amet, porta ac justo. In scelerisque
      et odio eu efficitur.
      <br />
      <br />
      Sed commodo justo sit amet tortor lacinia, nec posuere est malesuada.
      Vestibulum convallis mi sed velit sollicitudin mattis. Sed aliquam lorem
      vel orci tristique, consectetur elementum arcu facilisis. Pellentesque
      rhoncus, odio sed mollis finibus, nisl leo sagittis velit, a finibus orci
      dui id tellus.
    </p>
  </div>
</section>
