.hero-image {
  background-image: url('./../../../assets/images/akros-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other {
  grid-column: 2;
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  * {
    width: 50%;
  }

  h1 {
    text-align: center;
  }

  button {
    width: 10%;
    margin: 0 auto;
  }
}
