<div id="intro">
  <div class="container intro-block">
    <h1 class="text-white">{{ 'home.find' | translate }}</h1>
    <div id="accordion-block">
      <search-component
        [language]="appLanguage"
        (submitToContainerEvent)="showResults($event)"
        (startSearchEvent)="showLoading()"
        (endSearchEvent)="hideLoading()"
      ></search-component>
    </div>
  </div>
</div>

<div class="container-fluid colored">
  <div class="container content-block">
    <div class="text-block">
      <h2>{{ 'home.information' | translate }}</h2>
      <div class="post-btn-block">
        <a class="btn big-btn" (click)="navigateCreateAdd()">
          <svg class="icon-btn" viewBox="0 0 24 24">
            <use xlink:href="#symbol-label"></use>
          </svg>
          {{ 'home.create' | translate }}</a
        >
        <p *ngIf="showLoginMessage" class="err-text">{{ 'home.login' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.container-fluid -->
<div class="container-fluid simple">
  <div class="container content-block">
    <div class="text-block">
      <h2>{{ 'home.aboutMarketplaceTitle' | translate }}</h2>
      <p style="text-align: justify;" [innerHtml]="'home.aboutMarketplaceText' | translate "></p>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.container-fluid -->
