.form-wrap {
  margin: 1em auto;
  max-width: 420px;
  min-height: 70vh;
}

#create-ad-form .simple-field {
  font-size: 10pt;
}

.simple-form p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.simple-form p.file-upload-wrap {
  flex-wrap: wrap;
  margin-bottom: 0.33em;
}

.simple-form p.submit-row {
  margin-top: 1.6em;
}

.simple-field.full-width {
  width: 100%;
}

.simple-field.half {
  width: 48%;
  width: calc(50% - 6px);
}

.simple-field.third {
  width: 31%;
  width: calc(33.33% - 6px);
}

.simple-field.two-thirds {
  width: 64%;
  width: calc(66.67% - 6px);
}

.file-upload-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.simple-field.file-upload {
  width: 86%;
  width: calc(100% - 42px);
}

.add-row-btn {
  padding: 1px 9px;
  font: 700 1.2em/1.33 Inter, Helvetica, sans-serif;
}

.block-label {
  display: block;
  padding: 0 0 0.33em 0.85em;
}


/*                               600px
--------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  #create-ad-form .simple-field {
    font-size: 11pt;
  }
}