.float-right {
  float: right;
}

.btn-primary {
  @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded
    shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;

  &.error {
    background-color: #ee7c7c;
  }
}

.pl-4 {
  padding-left: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.form {
  input {
    box-sizing: border-box;
    color: #5c5c5c;
    border: 1px solid transparent;
    border-radius: 1.1em;
    background-color: #f6f6f6;
    box-shadow: 0 1px 0 0 #fff;

    &:checked {
      background-color: #0d6efd;
      background-image: unset;
      border-color: #fff;
      border-width: 3px;
    }
  }

  .form-field {
    width: 48%;
    display: inline-block;

    &:nth-child(even) {
      float: right;
    }
  }
}
