.float-right {
  float: right;
}

.btn-primary {
  @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded
    shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;

  &.error {
    background-color: #ee7c7c;
  }
}

.pl-4 {
  padding-left: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.form {
  input {
    box-sizing: border-box;
    color: #5c5c5c;
    border: 1px solid transparent;
    border-radius: 1.1em;
    background-color: #f6f6f6;
    box-shadow: 0 1px 0 0 #fff;

    &:checked {
      background-color: #0d6efd;
      background-image: unset;
      border-color: #fff;
      border-width: 3px;
    }
  }

  .form-field {
    width: 48%;
    display: inline-block;

    &:nth-child(odd) {
      float: right;
    }
  }

  .btn {
    display: block;
    max-width: 360px;
    margin: 0 auto;
    padding: 8px 24px;
    font-size: 1.1em;
    text-transform: uppercase;
    transition: 0.3s;

    &.big {
      padding: 6px 24px;
      vertical-align: middle;
      text-align: center;
      color: #e9d3d6;
      background-color: #9c132c;
      border-radius: 1.2em;
      cursor: pointer;

      &.mt-2 {
        margin-top: 20px;
      }

      &.error {
        background-color: #868686;
        color: #fff;
      }

      &:hover {
        background-color: #d60929;
        color: #fff;
      }
    }

    .icon-btn {
      display: inline-block;
      width: 18px;
      height: auto;
      margin: -2px 6px 2px;
      vertical-align: middle;
      fill: #e9d3d6;
      transition: fill 0.3s ease-in 0s;

      &.error {
        fill: #fff;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 10px;
  }

  select {
    background-color: #f6f6f6;
    border-radius: 1.5rem;
    padding: 0.25em 0.8em 0.2em;
    height: 30px;
    margin-bottom: 4px;
  }

  .field-container {
    overflow: auto;
  }

  .furnished {
    display: flex;
    align-items: center;

    >input{
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      margin-left: 0.3em;
    }

  }

  .availability{

    >select{
      width: 11em;
      margin-right: 1em;
    }

    >input{
      width: 11em;
      height: 2em;
      &::-webkit-calendar-picker-indicator{
        display: none;
      }
      &.enabled{
        &::-webkit-calendar-picker-indicator{
          display: block;
        }
      }

    }

  }
}
