<form [formGroup]="form" class="form">
  <div class="mb-12 flex">
    <div class="form-check form-check-inline flex-1 pl-4">
      <input
        class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="radio"
        name="requestOrOffer"
        id="offerRadio"
        value="OFFER"
        formControlName="requestOrOffer"
        checked
      />
      <label
        class="form-check-label inline-block text-gray-800 pl-4"
        for="offerRadio"
        >{{ 'searchForm.offers' | translate }}</label
      >
    </div>
    <div class="form-check form-check-inline flex-1 pl-4">
      <input
        class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="radio"
        value="REQUEST"
        formControlName="requestOrOffer"
        name="requestOrOffer"
        id="searchRadio"
      />
      <label
        class="form-check-label inline-block text-gray-800 pl-4"
        for="searchRadio"
        >{{ 'searchForm.searches' | translate }}</label
      >
    </div>
  </div>

  <div
    *ngFor="let formField of selectedCategorySearchFields"
    class="mb-2 form-field"
  >
    <mp-form-field
      [formField]="formField"
      [form]="form"
      [errorMessages]="errorMessages[formField.key]"
      [appLanguage]="appLanguage"
      [currentCategoryKey]="currentCategoryKey"
    ></mp-form-field>
  </div>
  <div class="error-message mt-1" *ngIf="!form.valid">
    <!-- TODO a logic to receive event from mp-form-field upon error and construct error message based on the sum of active
       errors, then use [innerHtml] to display constructed msg -->
    Test for a generic error to see how it fits in the layout
  </div>
  <a [ngClass]="{error: !form.valid}" class="btn big mt-2" (click)="onSubmit()">
    <svg class="icon-btn" [ngClass]="{error: !form.valid}" viewBox="0 0 24 24">
      <rect
        x="-0.55"
        y="17.34"
        width="10.09"
        height="4.33"
        rx="1.44"
        ry="1.44"
        transform="translate(-12.47 8.89) rotate(-45)"
      />
      <path
        d="M15,0a9,9,0,1,0,9,9A9,9,0,0,0,15,0Zm0,16a7,7,0,1,1,7-7A7,7,0,0,1,15,16Z"
      />
    </svg>
    {{ 'searchForm.search' | translate }}
  </a>
</form>
